body {
    margin: 0;
}

#strage {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: url(../img/imo.png);
}

#score {
    margin: 0 auto;
    overflow: hidden;
    text-align: right;
}

.index-img {
    display: none;
}